header {
  background-color: #1ecefd;
  height: 50vw;
}

main {
  height: 50vw;
}

.contactInfo {
  color: #eee;
}

button {
  color: white;
  background-color: #505355;
  width: 100%;
  height: 30px;
  border-radius: 10px;
}

button:hover {
  background-color: #5becd8;
}
